services:
    proxy.install.install:
        class: steevanb\ProxyBundle\Service\Install\Install
        tags:
            - { name: bundle.install }
        calls:
            - [ setContainer, [ @service_container ] ]